@import "../global/variables.scss";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 0 12px;
  font-family: $title-font;
  font-size: 14px;
  line-height: 1.29;
  color: $contrast-text-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: $main-color;
  cursor: pointer;

  &:hover {
    background-color: #5EAA2F;
  }

  &:active {
    color: rgba($contrast-text-color, 0.3);
    background-color: #5EAA2F;
  }

  @media (min-width: $tablet-width) {
    min-height: 54px;
    padding: 0 26px;
    font-size: 20px;
    line-height: 1;
  }
}
