@import "../global/variables.scss";

.catalog {
  .page-main__title {
    padding-top: 27px;
    padding-bottom: 41px;

    @media (min-width: $tablet-width) {
      padding-bottom: 90px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 85px;
    }
  }
}