.contacts {
  padding-top: 26px;

  &--index {
    background-color: $contrast-text-color;
  }

  &__heading {
    font-family: $title-font;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: $contacts-text-color;
  }

  &__address {
    margin-bottom: 26px;
    font-family: $text-font;
    font-size: 14px;
    line-height: 1.43;
    color: $main-text-color;
  }
}
