.example {
  padding: 25px 0 40px;
  background-color: $bg-color-darker;

  .page-main__title {
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 20px;
    font-family: $text-font;
    font-size: 14px;
    line-height: 1.29;
    color: $main-text-color;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__title {
    font-family: $text-font;
    font-size: 12px;
    line-height: 1;
    color: $main-text-color;
  }

  &__definition {
    font-family: $title-font;
    font-size: 24px;
    line-height: 1;
    color: $title-color;
  }

  &__spending {
    margin-bottom: 40px;
    font-family: $title-font;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    color: $title-color;
  }

  &__images {
    margin-bottom: 15px;
  }
}
