@import "../global/variables.scss";

.field-group {
  position: relative;
  border: none;

  &__title {
    max-width: 195px;
    padding-right: 20px;
    font-family: $title-font;
    font-size: 24px;
    line-height: 1.08;
    color: $title-color;
    text-transform: none;
    background-color: $contrast-text-color;

    &:before {
      position: absolute;
      top: 20px;
      right: 0;
      left: 0;
      z-index: -1;
      height: 2px;
      background-color: #68B738;
      content: "";
    }
    
    @media (min-width: $tablet-width) {
      max-width: 460px;
      font-size: 36px;
      line-height: 1;
    }

    @media (min-width: $desktop-width) {
      max-width: 540px;
    }
  }

  &__item {
    margin-bottom: 14px;
    list-style-type: none;
    
    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
