.field {
  &__input {
    padding: 14px 15px;
  }

  &__input::placeholder {
    font-family: $title-font;
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
    color: $main-text-color;
  }

  &__lead {
    margin-right: 12px;
  }
}
