.field {
  display: flex;
  align-items: center;

  &__input {
    flex-grow: 1;
    padding: 14px 15px;
    font-size: 16px;
    line-height: 1.12;
    text-transform: uppercase;
    border: 1px solid #E7E7E7;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 1.5;
      padding: 11px 19px;
    }

    &::placeholder {
      font-family: $title-font;
      //color: $main-text-color;
    }
  }

  &__lead {
    margin-right: 12px;

    @media (min-width: $tablet-width) {
      margin-right: 18px;
    }
  }
}
