.form {
  margin-bottom: 32px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 1.12;
  color: $main-text-color;
  text-transform: uppercase;
  
  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 82px;
  }

  &__button {
    width: 100%;
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      max-width: 282px;
      margin-bottom: 0;
    }

    @media (min-width: $tablet-width) {
      max-width: 568px;
    }
  }

  &__additional {
    font-family: $text-font;
    font-size: 14px;
    line-height: 1.14;
    text-transform: none;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 1;
      text-align: left;
    }
  }

  &__container {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 61px;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / -1;
      column-gap: 81px;
      width: 100%;
    }
  }
}
