@import "../global/variables.scss";

.main-nav {
  &:not(.main-nav--index) {
    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid #D9D9D9;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 708px;
    margin: 0 auto;
    padding: 26px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 55px 0 32px;
  }

  &__list {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: flex-end;
    }

    &--index {
      .main-nav__item {
        @media (min-width: $desktop-width) {
          color: $contrast-text-color;
        }

        &--current::after {
          @media (min-width: $desktop-width) {
            background-color: $contrast-text-color;
          }
        }
      }
    }
  }

  &__item {
    font-family: $title-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: $title-color;
    list-style-type: none;


    @media (max-width: $mobile-width-only) {
      border-top: 1px solid #E6E6E6;
    }

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 1.33;
      font-weight: 400;
    }

    &:not(&--current):hover {
      opacity: 0.6;
    }

    &:not(&--current):active {
      opacity: 0.3;
    }

    &--current {
      position: relative;

      &::after {
        @media (min-width: $tablet-width) {
          position: absolute;
          bottom: 0px;
          right: 16px;
          left: 16px;
          height: 2px;
          content: "";
          background-color: $main-color;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 22px 22px 24px;
    color: inherit;
    text-align: center;
    text-decoration: none;

    @media (min-width: $tablet-width) {
      padding: 16px;
    }

  }

  &__toggle {
    width: 40px;
    height: 40px;
    background: url("../../img/icons/open-menu.svg") no-repeat center;
    background-color: transparent;
    border: none;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
