.master {
  margin: 26px 0 23px;
  
  @media (min-width: $tablet-width) {
    margin: 75px 0 65px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin: 69px 0 67px;
  }

  .field-group__title {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }
  }
}
