.page-header {

  &__bar {
    @media (max-width: $mobile-width-only) {
      display: grid;
      grid-template-columns: 40px 1fr 40px;
      align-items: center;
      gap: 16px;
      padding: 10px 0 18px;
    }

    @media (min-width: $tablet-width) {
      margin-right: auto;
    }
  }
}