.process {
  margin-bottom: 49px;

  .page-main__title {
    margin-bottom: 40px;
  }

  &__list {
    font-family: $text-font;
    font-size: 14px;
    line-height: 1.29;
    color: $main-text-color;
  }

  &__item {
    margin-bottom: 20px;
    list-style-type: none;
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}
