@import "../global/variables.scss";

.promo {
  margin-bottom: 20px;
  padding: 27px 15px 0 16px;
  font-family: $title-font;
  color: $contrast-text-color;
  text-align: center;
  background: url("../../img/background/promo/promo-small.jpg"),
  linear-gradient(#63a63b 0, #63a63b 302px, $contrast-text-color 302px);
  background-color: $main-color;
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-resolution: 2dppx) {
    background-size: auto 302px, auto;
    background-image: url("../../img/background/promo/promo-small@2x.jpg"),
    linear-gradient(#63a63b 0, #63a63b 302px, $contrast-text-color 302px);
  }

  @media (min-width: $tablet-width) {
    color: $title-color;
    text-align: left;
    background: transparent;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 82px;
  }


  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -200px;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -2;
      background-color: #63a63b;
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-image: url(../../img/background/promo/promo-large.jpg);

      @media (min-resolution: 2dppx) {
        background-size: auto 696px;
        background-image: url(../../img/background/promo/promo-large@2x.png);
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
      position: relative;
      align-items: flex-start;
      padding: 0 90px 526px;
    }

    @media (min-width: $desktop-width) {
      min-height: 582px;
      padding: 20px 610px 95px 80px;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;

    @media (min-width: $tablet-width) {
      max-width: 414px;
      margin-bottom: 41px;
      font-size: 60px;
      line-height: 1;
    }
  }

  &__text {
    margin-bottom: 29px;
    font-size: 14px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-bottom: 49px;
      font-size: 20px;
    }
  }

  &__image {
    margin-bottom: 3px;
    @media (min-width: $tablet-width) {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;
      width: 100%;
      max-width: 75vw;
      height: auto;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      top: 30px;
      left: calc(50% - 162px);
      width: 552px;
      height: 499px;
      transform: none;
    }
  }

  &__button {
    @media (min-width: $tablet-width) {
      justify-self: start;
    }
  }
}
