.show-more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  text-align: center;
  border-top: 1px solid #EBEBEB;

  @media (min-width: $tablet-width) {
    padding: 38px;
    border: 1px solid #EBEBEB;
  }

  &__heading {
    margin-bottom: 8px;
    font-family: $title-font;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: $contacts-text-color;

    @media (min-width: $tablet-width) {
      max-width: 134px;
      margin-bottom: 23px;
      font-size: 20px;
      line-height: 1.1;
    }

    &:before {
      display: block;
      margin: 0 auto 50px auto;
      width: 30px;
      height: 30px;
      background: url("../../img/icons/plus.svg") center no-repeat;
      content: "";

      @media (min-width: $tablet-width) {
        width: 60px;
        height: 60px;
        background: url("../../img/icons/plus-large.svg");
      }
    }
  }

  &__text {
    max-width: 167px;
    margin-bottom: 21px;
    font-family: $text-font;
    font-size: 12px;
    line-height: 1.33;
    color: $main-text-color;


    @media (min-width: $tablet-width) {
      margin-bottom: 87px;
      font-size: 16px;
      line-height: 1.12;
    }
  }

  &__button {
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: $main-text-color;
    background-color: $bg-color;

    @media (min-width: $tablet-width) {
      min-height: 40px;
      font-size: 16px
    }
  }
}
