@import "../global/variables.scss";

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  padding: 22px 73px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__item {
    width: 23px;
    height: 23px;
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 33px;
      height: 33px;
      margin: 14px;
    }

    &--vk {
      background-image: url("../../img/icons/vk.svg");

      @media (min-width: $tablet-width) {
        background-size: 30px 22px;
      }
    }

    &--instagram {
      background-image: url("../../img/icons/instagram.svg");

      @media (min-width: $tablet-width) {
        background-size: 23px 23px;
      }
    }

    &--facebook {
      background-image: url("../../img/icons/facebook.svg");

      @media (min-width: $tablet-width) {
        background-size: 28px 32px;
      }
    }
  }


}

