@import "../global/variables.scss";

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  padding: 22px 73px;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__item {
    list-style-type: none;

    @media (min-width: $tablet-width) {
      margin: 14px;
    }
  }

  .social__link {
    display: block;
    padding: 8px;

    color: #666666;

    &:hover {
      color: $main-color;
    }

    &:active {
      color: rgba($main-color, 0.3);
    }

    svg {
      display: block;
    }
  }
}

