// Viewports

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

//Fonts

$title-font: 'Oswald', 'Arial', sans-serif;
$text-font: 'Arial', sans-serif;

//Colors

$title-color: #000000;
$main-text-color: #444444;
$contrast-text-color: #FFFFFF;
$contacts-text-color: #111111;
$heading-color: #222222;

$main-color: #68B738;

$bg-color: #F2F2F2;
$bg-color-darker: #EAEAEA;

$error: #FF8282;


