.main-nav {
  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 708px;
    margin: 0 auto;
    padding: 26px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 55px 0 32px;
  }

  &__list {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: flex-end;
    }
  }

  &__item {
    font-family: $title-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: $title-color;
    list-style-type: none;

    @media (max-width: $mobile-width-only) {
      border-top: 1px solid #E6E6E6;
    }

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 1.33px;
      font-weight: 400;
    }

    @media (min-width: $desktop-width) {
      color: $contrast-text-color;
    }
  }

  &__item--current {
    position: relative;
  }

  &__item--current::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      bottom: -6px;
      right: 16px;
      left: 16px;
      height: 2px;
      content: "";
      background-color: $main-color;
    }

    @media (min-width: $desktop-width) {
      background-color: $contrast-text-color;
    }
  }

  &__link {
    display: block;
    padding: 22px 22px 24px;
    color: inherit;
    text-align: center;
    text-decoration: none;

    @media (min-width: $tablet-width) {
      padding: 16px;
    }
  }

  &__toggle {
    width: 40px;
    height: 40px;
    background: url("../../img/icons/open-menu.svg") no-repeat center;
    background-color: transparent;
    border: none;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
